{% include "nav.html" %}
{% extends "base.html" %}
<div class="dummy1"></div>
{% block content %}
     
     <div class="aside_features text-center">
           
          <div class="container">
              <h4>Meet the Founders</h4>
             <div class="dummy2"></div>
          </div>
         <div class="container">
         <div class="row">
               <div data-aos="fade-left" data-aos-duration="300">
                <div class="col-md-6">
                        <img src="https://lh3.google.com/u/0/d/1nJtnTQ23dmUvnq-QZmoFDBJXLAuQ4fd-tA=w2568-h1258-iv1" alt="" class="img-responsive">
                    </div>
                    </div>
                    <div data-aos="fade-right" data-aos-duration="300">
                    
                    <div class="col-md-6 service-3-meta">
                            <h1>Meet Co-Founder Ambe Sennon</h1>
                            
                            <h2>
                               Ambe is a team oriented individual who takes pride in his ability to excel in any environment. He prides himself on his takes leadership skills and motivation to succeed.
                            <br>
                                Aside from being a Junior Finance Major at Howard, Ambe also co-founded mentoring program for minority high school students. His biggest wish is that he continues to push himself to constantly improve.
                            </h2>
                            </div>
                        </div> 
                        </div><!--service box-->
                        
                </div>
                <div class="dummy2"></div>
                <div class="container">
                 <div class="row">
               <div data-aos="fade-left" data-aos-duration="300">
                <div class="col-md-6 service-3-meta">
                            <h1>Meet Co-Founder Dexter Monk</h1>
                            
                            <h2>
                               Previously, Dexter served as a financial advisor intern with Merrill Lynch. Dexter has always been entrepreneurially spirited, which inspired him and his friends to launch an entertainment group based in D.C that has reminaed profitable for years.
                            <br>
                            Ambe and Dexter have been close friends since College.
                            </h2>
                            </div>
                        </div> 
                <div class="col-md-6">
                        <img src="https://lh3.googleusercontent.com/N9dcqIx6199Fi2GLxIZFkhqh3YuaejDtaayqMD9dQZdtaaZ2YZmz5gU6haIDTLPrXHovnUp5U6BtWB-h8PCVl0VhFM74wdMJdpv4oeuLxvHfH7Yx8YIHVsfJfXRCxP9z2FDtFBLI8JDbIMr-VLDfO-2atnmpD1cjnd6uSdrghCCPI5FglDx6dF6sH3VGpx6DsRpiASByuOcel2-VzHIqXoIeN4B_7DFJikw8OVa4M8SA9Ox1b6KEMHbGupI0w4RRNzrTzA_LkMIRCpWT9sk-8THFSaksvFf-Yl5voS_5bkPFlhISBcSjsMWURNurEjQf4b25TPXSHEYfO_mliWW0j5E1KT8pfF2cJ6CKctzeHEMPX27ZZFLHsfqqYkSdmaDAXIrWt4vL9oEYv3UA2OzdcwQiu4qTuPV0KvyyJltxfuj0dMopqcBQddy2ix-inPsv9kI35CSq1tgxAGi4oYwmrmjhYw48rtMJ0vUvyjqr2HCyABr8nGrfNeVWUqbreMHfTiYxrVs1Y2JotmROYqOZwHQLDXqF1H9UGD4m2fO2Go2sRidCYDadwaVEmcH4iyXpropvxrOxDjlo6S4=w2552-h1258" alt="" class="img-responsive">
                    </div>
                    </div>
                    <div data-aos="fade-right" data-aos-duration="300">
                    
                        </div><!--service box-->
                        
                </div>
                </div>
            </div>
{% endblock %}
