         {% extends "base.html" %}
         {% block content %}
         <div class="dummy1"></div>
         <div class="dummy1"></div>
        <div class="container text-center">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="center-heading">
                        <h2>Got any questions?</h2>
                        <span class="center-line"></span>
                        <p class="lead">Please browse our FAQ to get answers to any questions you have! If all else fails, reach out to us via email!</p>
                    </div><!--center-heading-->
                </div>
            </div>
            <div class="divide30"></div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="panel-group" id="accordion">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                        How does your service work? 
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse in">
                                <div class="panel-body">
                                    <ol>
                                    <li>Your storage/moving form is filled out on our website or an email is sent to mdcampusstorage@gmail.com </li>
                                    <li>After doing so, MdCampusStorage will send you a free quote. Along with a price quote are instructions on how to confirm your order and make payments.To confirm an order you do not have to pay. Payment can be made on the day of your pick-up via PayPal or Cash. onfirming an order gives to priority when selecting a pick-up time
</li>
<li>Your order is confirmed via the email link or via phone with a representative.</li>
<li> You Pack It... We Stack It...</li>
                                </ol>
                                <br>
                                You will be able to select a date and time that fits your schedule best. The MdCampusStorage team will come directly to your room to collect your storage content or the content you wish to move. Storage items will be stored in a climate controlled MdCampusStorage facility near your campus for the summer and will be delivered to your new address in the Fall. The pleasure of using our quality moving company, the MdCampusStorage team will come directly to your room and deliver the content to your verified address at the end of summer.
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                        Can I store my computer, fridge, and other electronics?  
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseTwo" class="panel-collapse collapse">
                                <div class="panel-body">
                                   Yes. Our storage facility is climate controlled, which is perfectly safe for all your electronic equipment; Boxed or Unboxed. We do ask that you unplug it 36-48 hours before your scheduled pick-up or moving date and make sure there is no standing water in the refrigerator.

                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                                        What is meant by climate-controlled?  
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseThree" class="panel-collapse collapse">
                                <div class="panel-body">
                                    Climate-controlled means that our storage facility maintains a safe temperature for your belongings and that the facility is properly ventilated.
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">
                                        Can I store my furniture? 
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse4" class="panel-collapse collapse">
                                <div class="panel-body">
                                    Yes. Please clearly define item in storage request form for accurate quote.
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse5">
                                        Do you have restrictions on the types of things that can be stored? 
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse5" class="panel-collapse collapse">
                                <div class="panel-body">
                                    Yes. Hazardous materials, liquids, perishable items, foods, and cash cannot be stored with MdCampusStorage. All packages must be packed appropriately and approved by the MdCampusStorage movers. 
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse6">
                                        is Contact form Working?
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse6" class="panel-collapse collapse">
                                <div class="panel-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                </div>
                            </div>
                        </div>
                           <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse7">
                                        How far are your storage facilities located? 
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse7" class="panel-collapse collapse">
                                <div class="panel-body">
                                    Our storage facilities are within 10mi driving distance from each campus we serve. Each campus is assigned to a particular storage facility in the area. Please contact a representative if you would like to know the storage facility of your university. 
                                </div>
                            </div>
                        </div>
                           <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse8">
                                        Can I access my belongings during the summer?
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse8" class="panel-collapse collapse">
                                <div class="panel-body">
                                    No. For specific safety reasons, units are padlocked for the entire summer and will only be reopened in August when students return. 

                                </div>
                            </div>
                        </div>
                         <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse9">
                                       Do you provide boxes and packaging supplies?  
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse9" class="panel-collapse collapse">
                                <div class="panel-body">
                                    Yes. On your storage request form, there is a section to inform MdCampusStorage if you need boxes. MdCampusStorage will deliver your boxes at least 48 hours before your storage pickup or quality moving date. The movers assigned to your order will have the supplies to seal your boxes on the day of pick up if your boxes are not sealed.

                                </div>
                            </div>
                        </div>
                         <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse10">
                                       How many boxes do you recommend I purchase? 
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse10" class="panel-collapse collapse">
                                <div class="panel-body">
                                    Most customers find 3-4 large boxes sufficient, however, feel free to order as many large boxes as you wish.

                                </div>
                            </div>
                        </div>
                         <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse11">
                                        Do you pick-up directly at my door?  
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse11" class="panel-collapse collapse">
                                <div class="panel-body">
                                   Yes, as long as your school's administration will allow our movers into the dorms (which never seems to be a problem). As for off-campus residents, your address will be verified after your storage request is completed. Our movers will come to your door to pick-up your storage or moving items. We'll make sure your boxes are properly labeled, and we'll complete the necessary paperwork. The process should take no longer than 15 to 25 minutes.

                                </div>
                            </div>
                        </div>
                         <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse12">
                                        What if I can't be present for a pickup or delivery? 
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse12" class="panel-collapse collapse">
                                <div class="panel-body">
                                   In your absence, you can have a friend be present during a pickup or delivery who must sign to validate the process. If our mover cannot get in touch with you, or a friend or roommate that you designate, we will not be able to pick up or deliver your items. If our mover cannot gain entry to a location that you designate as a delivery location, your items will be brought back to our warehouse and you will have to schedule a re-delivery, as well as pay a missed delivery fee.


                                </div>
                            </div>
                        </div>
                         <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse13">
                                        What if I am not ready when the movers get here? 
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse13" class="panel-collapse collapse">
                                <div class="panel-body">
                                   It is strongly suggested that you are available when the movers arrive to ensure your pick-up/moving time slot is honored.


                                </div>
                            </div>
                        </div>
                         <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse17">
                                        Will you have extra boxes when you come to my room? 
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse17" class="panel-collapse collapse">
                                <div class="panel-body">
                                   It is possible that the MdCampusStorage movers may have extra boxes. However, we do not guarantee that we will have additional supplies left, so make sure to purchase an adequate amount of boxes


                                </div>
                            </div>
                        </div>
                         <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse18">
                                        What if I don't know my fall address prior to your picking up my things? 
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse18" class="panel-collapse collapse">
                                <div class="panel-body">
                                   If you don't know your delivery address at the time of pickup, you can provide this information later in the summer; however, it is best to provide the address as soon as you find out.


                                </div>
                            </div>
                        </div>
                         <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse19">
                                        What happens if some of my items are broken upon delivery or all my items are not delivered?
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse19" class="panel-collapse collapse">
                                <div class="panel-body">
                                  Although this is very rare, you may submit a claim to MdCampusStorage. All claims for lost or broken items must be submitted no later than 3 days after receiving your storage content back.
All items stored are appraised upon arrival to our facilities. If your claim is approved you will be offered discounted storage for the following year or receive a full refund of the appraised value of the item in question. 


                                </div>
                            </div>
                        </div>
                         <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse20">
                                        How much do your storage services cost?
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse20" class="panel-collapse collapse">
                                <div class="panel-body">
                                  
Our prices are set on a per item basis. But, the more you store the cheap it is per item. All storage prices include door-to-door pickup, storage throughout the summer, and delivery when school resumes. Moving prices are based on weight and destination. After a storage request form is completed an accurate price will be given to you.


                                </div>
                            </div>
                        </div>
                         <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse21">
                                       What forms of payment do you accept? 
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse21" class="panel-collapse collapse">
                                <div class="panel-body">
                                  
We accept American Express, Discover, MasterCard and Visa cards via PayPal, a link for the PayPal payment will be sent to your email after a storage request form is completed. Cash at pickup is also accepted.


                                </div>
                            </div>
                        </div>
                         <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse22">
                                        Are there any additional fees?  

                                    </a>
                                </h4>
                            </div>
                            <div id="collapse22" class="panel-collapse collapse">
                                <div class="panel-body">
                                  Nope!! But if you make the mistake of requesting less storage than you need, we may charge you for any additional items.
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--collapse col-->
              
            </div>
            </div>
            <div class="dummy1"></div>
              <div class="dummy1"></div>
              <div class="dummy1"></div>
            {% endblock %}