<body>
<footer class="footer">
            <div class="container text-center">
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2">
                        <img src="https://lh3.googleusercontent.com/AU-DEnclVJlMSyvI_95MPyAW-MHeXzo7I4kOj0C5lcHVOA6DVj5BudUcZLHqhULzkoeGMEhyIj3vKn5NNSPSg4X3ceMJV8LnKh35FS88HehsoT5r8K_TMnwihPchyYA9qa_giQ=w2560-h927-no" width=300>
                        <br/><br/>
                        <span>&copy; Copyright 2017. MD Campus Storage</span>
                    </div>
                </div>
                 <br>
                <div class="row">
                            <a href="{{ url_for('home') }}">Home</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <a href="{{ url_for('about') }}">About</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <a href="{{ url_for('contact') }}">Contact</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <a href="{{ url_for('faq') }}">FAQs</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <a href="{{ url_for('store') }}">Storage Request</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </div>
            </div>
        
        </footer>
         
        </body>